{% extends 'base/base.html' %}

{% block start %}
<div class="container mt-5">
  <h2>Order History</h2>
  <table class="table table-hover">
    <thead>
      <button><a href="{% url 'generate_bill_pdf' order_id=user_cart.payment.id %}" class="btn btn-primary">Download Bill</a></button>

      <tr>
        <th>Product</th>
        <th>Price</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      {% for ordered_item in ordered_items %}
      <tr>
        <td>{{ ordered_item.product.product_name }}</td>
        <td>₹{{ ordered_item.get_product_price }}</td>
        <!-- Add more columns as needed -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
